.main_div {
  z-index: 40;
  user-select: none;
  position:fixed;
  top:0px;
  margin:0px;
}
.cnv_main {
  height:50px;
}
.player {
  height:30px;
  position: fixed;
  z-index: 40;
}
.player_bg {
  height:30px;
  width: 100%;
}
.seq_cont {
  position:absolute;
}
.seq {
  position:absolute;
  z-index: 1;
  opacity:0.5;
}
#sequencer {
  opacity: 1;
}
.pointer {
  z-index: 15;
  opacity:1;
  position:relative;
}
.loop_bounds {
  z-index: 35;
  opacity:0.65;
}
.scale {
  user-select: none;
  z-index: 10;
  position:fixed;
  pointer-events:none;   
}
.scaleY {
  z-index: 20;
  position:relative;
  user-select: all;
  pointer-events:all;  
}
#scale_y_bg {
	left: 0px;
	position:absolute;
}
.scaleX {
  position:relative;
  pointer-events:all;   
}
#loop_bounds_div {
	pointer-events:all;  
}
.top_left {
  z-index: 25;
  position:fixed;
  pointer-events:all;
}
.bottom_left {
  z-index: 25;
  position:absolute;
  pointer-events:all;
}
.player_svg {
  transition: 100ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 100ms;
  -webkit-transition-timing-function: ease-in-out;
}
.player_svg{
  fill: rgb(128,0,64);
  stroke: black;
}
.player_svg:hover{
  stroke: orange;
}
.player_click {
  transition: 100ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 100ms;
  -webkit-transition-timing-function: ease-in-out;
}
.player_click:active{
  fill: orange;
}
.parameters{
	position:absolute;
}
.par_drag{
	height:10px;
	top: -25px;
}
.par_drag:hover{
	cursor:row-resize;
}



